#header h2 {
  float: left;
}

#header .glyphicon {
  font-size: 1.25em;
  margin-top: 1.5em;
  margin-left: 0.5em;
}

#view #config {
  font-family: monospace;
  font-size: 0.8em;
}

#view #config .plugin-type {
  margin-bottom: 1.5em;
  display: none;
}

#view #config .plugin {
  margin-top: 0.4em;
}

#view #config ol,ul {
  margin-bottom: 0em;
  padding-left: 1em;
}

#view #config li {
  list-style: none;
}

#view #config .plugin > a {
  visibility: hidden;
}

#view #config .plugin:hover > a {
  visibility: visible;
}

#view #config label {
  font-weight: normal;
}

.tour-tour {
  color: #2a333c;
}

.tour-anchor {
  width: 25%
}
