#view #config {
  font-family: monospace;
}

#view #config .plugin-type {
  margin-bottom: 1.5em;
  display: none;
}

#view #config .plugin-list {
  margin-bottom: 0em;
  padding-left: 1em;
}

#view #config .plugin {
  list-style: none;

}

#view #config .plugin > a {
  visibility: hidden;
}

#view #config .plugin:hover > a {
  visibility: visible;
}
